body{
  font-family: 'Ubuntu', sans-serif;
}

/* **********************************NAVBAR******************************************** */
.logo{
  width:8.25rem;
  height:3.25rem;
}
/* **********************************NAV LINKS******************************************** */
nav a.nav-link{
  font-weight:500;
  letter-spacing:0.038rem;
  cursor:pointer;
}
nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:#fff !important;
  border-top: 0.188rem solid rgba(255, 255, 255,0);
}
.navbar-brand{
  max-width:9rem;
  padding:0 !important;
  height:6rem !important;
}
.navbar-nav > li > a.active, .navbar-nav >li >a.active:focus{
  border-top: 0.188rem solid #f9ab00;
}
.navbar-nav > li > a:hover{
  border-top: 0.188rem solid #f9ab00;
}
/* **********************************HEADER******************************************** */
.header-wraper{
  position: relative;
  background:url('./assets/header.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.main-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info h1{
  color: #f9ab00;
  text-transform: uppercase;
}
/* **********************TYPED TEXT*********************************************************** */
.typed-text{
  font-size:2rem;
  color:#fff;
}